<launch>
    <node pkg="gmapping" name="gmapping" type="slam_gmapping" output="screen">
     <rosparam>
       map_update_interval: 2.0
       linearUpdate: 0.3
       angularUpdate: 0.25
       delta: 0.05
       particles: 30
       xmin: -10
       ymin: -10
       xmax: 10
       ymax: 10


     </rosparam>
   </node>
</launch>
